@model DepartmentDTO
@{
    ViewData["Title"] = "Details";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Details Card</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Details</li>

                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <label asp-for="Id">Id : </label>
                <input type="text"value="@Model.Id" disabled/>
                <br />

                <label asp-for="Name">Nmae : </label>
                <input type="text" value="@Model.Name" disabled />
                <br />

                <label asp-for="Code">Code : </label>
                <input type="text" value="@Model.Code" disabled />
                <br />

                <center>
                    <a asp-controller="Department" asp-action="Index" class="btn btn-primary">Return</a>
                    <a asp-controller="Department" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
                    <a asp-controller="Department" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
                </center>

            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

